wheel
numpy
typing_extensions
omegaconf
huggingface_hub>=0.24
numba
onnx>=1.7.0
python-dateutil
ruamel.yaml
scikit-learn
setuptools>=70.0.0
tensorboard
text-unidecode
torch
tqdm>=4.41.0
wget
wrapt
braceexpand
editdistance
einops
g2p_en
jiwer
kaldi-python-io
kaldiio
lhotse>=1.26.0
librosa>=0.10.2
marshmallow
optuna
packaging
pyannote.core
pyannote.metrics
pydub
pyloudnorm
resampy
scipy>=0.14
soundfile
sox
texterrors
datasets
inflect
mediapy==1.1.6
pandas
sacremoses>=0.0.43
sentencepiece<1.0.0
